.Main{
    width: 100%;
    overflow: hidden;
    background-color: #1A202B;
    min-height: 100vh;
}
.Main-light{
    width: 100%;
    overflow: hidden;
    
    min-height: 100vh;
    background-color: #A9E5BB;
}
.inside-class{
    /* background-color: #273040; */
    background-color: #4F646F;
}
.light-mode {
    background-color: #F8E5EE;

}
.left{
    width: 7%;
    height: 100vh;
    
    
}
.right{
    width: 7%;
    
}
.Main .centre{
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Left-h1{
    transform: rotate(-90deg);
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
  font-weight: 500;
  font-style: normal;
    
}
.right-h2{
    transform: rotate(90deg);
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    position: absolute;
    height: clamp(30vh, 40vw, 50vh);
    width: clamp(40vh, 70vw, 85vh);
    background-color: #E5EAFA;
    border-radius: 20px;
    filter: drop-shadow(0 0 20px #000000);
}

.Profile-div-1{
    border-radius: 20px;
    height: clamp(40vh, 50vw, 55vh);
    width: 53vw;
   
    background-color: #E5EAFA;
    overflow: hidden;
    z-index: 11;
}
.Profile-div-2 .boxes{
    border-radius: 20px;
    height: clamp(20vh, 20vw, 25vh);
    width: 30vw;
    z-index: 11;
    background-color: #C6CCB2;
}
.texts{
    font-size: clamp(0.6rem, 1.2vw, 2rem);
    color: #000000;

}
.text-r{
    font-size: clamp(10px, 1.2vw, 2rem);
    color: #000000;

}


.skill{
    z-index: 11;
    height: 2.5vh;
    width: 2.5vh;

    box-shadow: 0 0 10px 0 #000000;
    background-color: #fff;
     /* Adjust width and height as needed */
  
  border-radius: 50%;
   /* Adjust border style, width, and color */
  
  
}
.skill-line{
    display: flex;
    flex-direction: column;
    
    gap: 30px;
}
.skill-head{
    z-index: 11;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  width: 80%;
  font-style: normal;
    font-size: clamp(1.4rem, 1.8vw, 2rem);
    color: #E5EAFA;
    font-weight: 700;
   

}


.job-pic{
    
    z-index: 15;
    width: 45vw;
    height: 15vw;
    border-radius: 20px;
}
.liti{
    height: 0.25vh;
    width: 7vw;
    background-color: black;
}
.flip-card {
    z-index: 20;
    perspective: 1000px;
    cursor: pointer;
    overflow: hidden;
    height: clamp(370px, 52vw, 53vh);
    width: clamp(270px, 20vw, 30vw);
    border-radius: 20px;
    background-color: #E5EAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 12;
    
    color: #000000;
  }
.flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
}
  
.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}
  
.flip-card-back {
    transform: rotateY(180deg);
}
  
.motive {
    cursor: none;
  }
.flip-card:hover button{
    transform: scale(1.2);
}
.flip-card img{
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 100%;
    
   
  

}
.page4-top {
    z-index: 11;

}
.carousel-container {
    z-index: 11;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
  
 
h3{
    
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #000000;

}
.flip-card-front:hover h3{
    transform: scale3d(1.1, 1.1, 1.1);
}
.contact-me{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
    display: flex;
}
.socials svg:hover{
    transform: scale(1.2);
color: white;
}
.lamp{
    height: 300px;
    width: 250px;
   
    position: absolute;
    top: 0;
    left: 0;
  
}
.light{
    height: 30px;
    width: 50px;
    background-color: yellow;
    position: absolute;
    top: 300px;
    left: 110px;
}
.theme-shifter{
    position: absolute;
    top: 10px;
    right: 50px;
}

.slider{
    position: relative;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    height: 40px;
    transition: all 0.5s ease-in-out;
    width: 100px;
    border: 2px solid #000000;
    border-radius: 55px;
    background-color: #3e3e3f;
    display: flex;
    align-items: center;
   
}
.sun{
    position: absolute;
    left: 10px;
    z-index: 1;
}
.moon{
    z-index: 1;
    position: absolute;
    right: 5px;
}
.toggle{
  
    transition: all 0.5s ease-in-out;
    position: absolute;
    /* transform: translateX(75px); */
    height: 2.3em;
    width: 2.3em;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;

}
.yellow{
    background-color: #F9DC5C;
}
.pics img{
    position: absolute;
    
}
@media screen and (max-width: 500px){
    .slider{
        top: 7px;
    }
    .socials svg{
        font-size: 0.6rem;
    }
   /* .Main{
     background-color: #4F646F;
   } */
    .carousel-container{
        
        width: 72%;
        margin: 0 0px;
        
    }
    .Resume{
        
        padding-left: 50px;
    }
    .slick-slide {
        padding: 0 5px ;
    }
    .job-pic{
       
        margin-top: 20px;
        width: 80vw;
        height: 40vw;
    }
    .Main .centre{
        width: 100%;
        min-height: 100vh;
    }
    .left{
        height: 100%;
        z-index: 10;
        
        left: 20px;
        background-color: #4F646F;
      
        
    }
    .Left-h1{
        display: none;
    }
    .right{
        z-index: 10;
        padding: 8px;
        background-color: #4F646F;
       
        right: 10px;

    }
    .Profile-div-1{
        height: clamp(30vh, 40vw, 45vh);
        width: 83vw;
       
    }
    .Profile-div-2 .boxes{
        height: clamp(20vh, 25vw, 30vh);
        width: 83vw;
        
    }
    
}
