@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}
html{
  width: 100%;
  min-height: 100vh;
}
h2{
  font-size: clamp(1.2rem, 1vw, 2rem);
}
.Heads{
  z-index: 1001;
  letter-spacing: -0.7vw;
  font-size: clamp(1.6rem, 4vw, 5rem);
  font-weight: 700;
  font-family:'Courier New', Courier, monospace;
}
svg {
  color: #BCAA99;
}
p
{
  z-index: 11;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #E5EAFA;
  font-style: normal;
  font-size: clamp(15px, 1vw, 1rem);
}

.dark p {
  color: #1a202b;
}
.text-header{
 
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

h1{
  color: #E5EAFA;
}

.dark h1 {
  color: #1a202b;
}
H2{
  color: #BCAA99;
}

.dark H2 {
  color: #1a202b;
}
button{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  color: #E5EAFA;
  background-color: #000000;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark button {
  color: #ffffff;
  background-color: #1a202b;
}